.page{
    min-width:320px;
    max-width:640px;
    margin:0 auto;
    font-family:"微软雅黑";
    position:relative;
    font-size: 0.28rem;
}
header{
    text-align: center;
    width: 100%;

}
header img{
    width: 6.4rem;
    height: 1.80rem;,}
.content_1{
    font-size: 0.34rem;
    padding-top: 0.88rem;
    text-align: center;
    color: #444444;
    margin-bottom: -0.45rem;
    padding-bottom: 1.2rem;
    width: 100%;
}
footer{
    width: 100%;
    padding: 0.15rem 0;
    margin-top: 0.3rem;
}
footer a{
    display:block;
    width: 4.22rem;
    height: 0.79rem;
    margin: 0 auto 0.30rem;
}
footer .btn1{
    border-radius: 0.395rem;
    text-align: center;
    line-height: 0.79rem;
    color: #fffaf1;
    background: -webkit-linear-gradient(top,#fe8359,#f46652);
    background: -moz-linear-gradient(top,#fe8359,#f46652);
    background: -o-linear-gradient(top,#fe8359,#f46652);
    background: linear-gradient(top,#fe8359,#f46652);
}
footer .btn2{
    border-radius: 0.345rem;
    border: 1px solid #f97a59;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.79rem;
    background: #ffffff;
    color: #f27f50;
}
section{
    width: 100%;
}
.section1 .btn3{
    border-radius: 0.395rem;
    text-align: center;
    line-height: 0.79rem;
    color: #fffaf1;
    background: linear-gradient(top,#fe8359,#f46652);
    background: -webkit-linear-gradient(top,#fe8359,#f46652);
    background: -moz-linear-gradient(top,#fe8359,#f46652);
    display:block;
    width: 4.22rem;
    margin: 0.3rem auto 0;
}
.section1{
    padding-bottom:0.25rem ;
}
.section2{
    padding-bottom:0.3rem ;
}
.section1,.section2{
    border-bottom: 1px solid #fce3ca;
    width: 80%;
    margin: 0 auto;

}
section h2{
    font-size: 0.34rem;
    color: #f27f50;
    text-align: center;
    line-height: 0.86rem;
}
section ul{
    color:#454545;
    font-size: 0.18rem;
}
